*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);

    --accent: hsl(61.28, 100%, 54.12%);
    --accent-muted: hsl(61.28, 100%, 44.12%);

    --ff: "Work sans", sans-serif;
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --highlight: hsl(0 0% 60%);

    --border: hsl(0 0% 30%);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    font-family: var(--ff);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--ff);
    background: var(--bg-dark);
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background: var(--gradient-hover);
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo img {
    height: 4rem;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text);
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--accent);
}

.user-info {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-trigger {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: transform 0.2s;
}

.user-trigger .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--border);
}

.user-trigger:hover {
    transform: scale(1.05);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--text);
    border-radius: 8px;
    padding: 10px;
    min-width: 150px;
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    padding: 8px 12px;
    color: var(--bg-dark);
    border-radius: 6px;
    transition: 0.2s;
}

.dropdown-menu a:hover {
    background: var(--text-muted);
}


.user-info:hover .dropdown-menu {
    display: block;
}

.btn-login-header {
    font-family: var(--ff);
    padding: 0.5rem 1rem;
    background: var(--accent);
    color: var(--bg-dark);
    text-decoration: none;
    border-radius: 0.3rem;
    transition: 0.3s ease;
}

.btn-login-header:hover {
    background: var(--accent-muted);
}

#main {
    flex: 1;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: var(--text);
}

form button:hover {
    background-color: var(--accent);
    color: var(--bg-dark);
}

p.error {
    color: red;
    margin-bottom: 1rem;
}

#main a {
    color: var(--accent);
    text-decoration: underline transparent;
    transition: 200ms;
}

#main a:hover {
    text-decoration: underline var(--accent);
}

footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background: var(--bg);
    color: var(--text-muted);
}

.footer-link {
    color: var(--text-muted);
    text-decoration: none;
    transition: 0.3s;
}

.footer-link:hover {
    color: var(--accent);
}

.avatar-preview {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 10px 0;
}

.avatar-preview img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 8px 0;
    border: 2px solid var(--border);
}

form input[type="file"] {
    padding: 0.5rem;
}

.success {
    color: var(--accent);
    margin-bottom: 1rem;
}

form {
    background: var(--gradient);
    padding: 1.5rem 2rem;
    border: 0.05rem solid var(--border);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
}

form:hover {
    background: var(--gradient-hover);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-muted);
}

form input,
form select {
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 0.1rem solid var(--border);
    border-radius: 0.5rem;
    background-color: var(--text);
}

form button {
    font-family: var(--ff);
    width: 100%;
    padding: 0.8rem;
    background-color: var(--bg-light);
    color: var(--text-muted);
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 250ms;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    max-width: 1000px;
}

.league-card {
    background: var(--gradient);
    border: 0.05rem solid var(--border);
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 250px;
    text-align: center;
    color: var(--text);
    transition: transform 0.2s;
}

.league-card:hover {
    transform: translateY(-4px);
    background: var(--gradient-hover);
}

.league-card h3 {
    margin-top: 0;
    font-size: 1.4rem;
    color: var(--accent);
}

.league-card p {
    font-size: 0.9rem;
    color: var(--text-muted);
    margin-bottom: 2rem;
}

.league-card #viewLeague {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--bg-light);
    color: var(--text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 250ms;
    text-decoration: none;
}

.league-card #viewLeague:hover {
    text-decoration: none;
    color: var(--bg-dark);
    background: var(--accent-muted);
}

p.no-leagues {
    color: var(--highlight);
    margin-top: 2rem;
}